<!--
  Generated template for the PlatillosPrincipalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>platillosPrincipales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list  *ngFor="let platillo of global.platillos"   (click)="anadirPlatillo(platillo)">
    <ion-card *ngIf="platillo.categoria=='platilloPrincipal'">
       <ion-item>
             <ion-avatar item-start>
                  <img src="data:image/jpg;base64,{{platillo.imagen}}">
              </ion-avatar>
            <h2>{{platillo.nombre}}</h2>
         </ion-item>

          <img src="data:image/jpg;base64,{{platillo.imagen}}" style="max-width: 400px; max-height: 400px">

          <ion-card-content>
              <p>{{platillo.descripcion}}</p>
              <h2>$ {{platillo.precio}}</h2>
          </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
