.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 10%;
    font-size: 1.5em;
    width: 50%;
    font-weight: bold;
    color: #000;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .fondoA {
    background-image: url('../assets/swift_fondo_acercade.png');
  }
}
